{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}모아트립{% endblock %}</title>

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock %}
</head>
<body>

  <header class="site-header">
    <a href="#" class="logo">
        <span class="logo-icon">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <path d="M12 21s-7-6.5-7-12a7 7 0 0 1 14 0c0 5.5-7 12-7 12z"></path>
      <circle cx="12" cy="9" r="2.5"></circle>
    </svg>
  </span>
  모아트립
    </a>

    <nav class="main-nav">
      <a href="#">관광지</a>
      <a href="#">축제</a>
      <a href="#">여행일정</a>
    </nav>

    <div class="header-auth">
      <a href="#" class="btn-auth">로그인 / 회원가입</a>
    </div>
  </header>

  {% block content %}{% endblock %}

</body>
</html>