# ========================================================
# 데이터베이스 설정 (Database Configuration)
# ========================================================
DB_ENGINE=django.db.backends.mysql
DB_NAME=moa_trip
DB_USER=SSO2026
DB_PASSWORD=SSO2026

# [로컬 개발 환경]
DB_HOST=ubuntu-server.iptime.org
DB_PORT=13306

# [배포 (Docker 컨테이너) 환경]
# DB_HOST=172.17.0.1
# DB_PORT=3306

# ========================================================
# 공공데이터 API 인증키 (한국관광공사 / 기상청)
# ========================================================
KMA_API_KEY=
DATA_GO_KR_KEY=

# ========================================================
# 네이버 지도 API (Dynamic Map)
# ========================================================
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
