<footer class="site-footer">
    <div class="footer-top">
        <div class="footer-col">
            <h4>소개</h4>
            <ul>
                <li><a href="#">모아트립 소개</a></li>
                <li><a href="#">이용 가이드</a></li>
            </ul>
        </div>
        
        <div class="footer-col">
            <h4>이용약관</h4>
            <ul>
                <li><a href="#">약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">쿠키 정책</a></li>
                <li><a href="#">위치기반서비스 이용약관</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-copy">© 2020-2026 Moatrip. All Rights Reserved.</div>
        <div class="footer-info">
            <span>모아트립</span>
            <span>대표 홍길동</span>
            <span>경기 성남시</span>
        </div>
    </div>
</footer>